.container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.category-navigation {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center;
}

.category-btn {
  padding: 10px 20px;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.category-btn.active {
  background: #007bff;
  color: white;
  border-color: #0056b3;
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  
 
  row-gap: 70px;    
  column-gap: 20px;
  
  padding: 20px;
}

.welcome-msg {
  text-align: center;
  margin-top: 50px;
  color: #666;
}