logo {
            position: absolute;
            top: 12px;
            left: 20px;
            }
        
        .left {
            flex: 1;
            padding-top: 20px;
            text-align: center;
            width:900px;
        }
        .gradient{
            background: linear-gradient(to right, orange, red, purple);
            background-clip: text;
            color: transparent;
        }
        .v-line{
            width:2px;
            height:800px; 
            background-color: #ccc;
            margin:0px 0px;
        }
        .container{
            display: flex;
            align-items: center;
            justify-content: center;
            gap:40px;
            margin-bottom:0px;
            padding-bottom:0px;
        }
        
        .right{
             width:550px;
             margin:-250px 60px 10px -25px;
             border:0px;
             font-size:15px;
        }
        .for{
            display:flex;
            flex-direction: column;
            padding:2px;
        }
        .right p{
            margin-bottom:5px;
        }
        .text{
            margin:5px 20px;
            padding:20px 20px;
            border-radius: 8px;
            border: 1px solid #ccc;
        }
        .submit{
            background-color: rgb(0, 136, 244)  ;
            color:white;
            border-radius:20px;
            padding:10px;
            margin-top:10px;
            box-shadow: none;
            font-size:15px;
            margin-left:20px;
        }
        .forgot{
            margin-top:8px;
            border:none;
            outline:none;
            background: none;
            box-shadow: none;
            padding:10px;
            text-decoration: none;
            color:black;
            border-radius:8px;
            font-size:15px;
        }
        .forgot:focus{
            outline:none;
        }
        .forgot:hover{
            background-color: rgb(232, 232, 232);
        }
        .omg{
            margin-top:25px;
            display:flex;
            flex-direction: column;
            padding:10px;
        }
        .facebook{
            border:1px solid #ccc;
            border-radius:20px;
            background:none;
            padding:10px;
            display:flex;
            align-items: center;
            justify-content: center;
            gap:10px;
            margin-top:12px;
        }
        .but {
            border-radius: 20px;
            margin-top:12px;
            padding:10px;
            font-size:15px;
            background:none;
            border:1px solid rgb(0, 136, 244);
            color:rgb(0, 136, 244);
        }
        .right p{
            margin-left:20px;
        }
        #meta{
            margin-top:15px;
            display:flex;
            flex-direction: row;
            align-items:center;
            justify-content: center;
            padding:0px 0px;
            gap:6px;
        }
        #meta p{
            margin:0;
        }
        hr {
            color: #ccc;
            padding-top:0px;
            margin-top:0px;
        }
        .footer{
            text-align:center;
            color:gray;
        }
        .footer a{
            color:gray;
            text-decoration: none;
        }